In [10]:
%env INSTANCE=my

In [16]:
!gsutil cp gs://cs327e-open-access-2/sakila.zip .

In [18]:
!unzip sakila.zip

Archive:  sakila.zip
   creating: sakila/
  inflating: sakila/.DS_Store
  inflating: sakila/sakila_schema.png
  inflating: sakila/sakila-data.sql
  inflating: sakila/sakila-database.sql

In [3]:
!mysql < /home/jupyter/sakila/sakila-database.sql

In [4]:
!mysql < /home/jupyter/sakila/sakila-data.sql

In [24]:
!mysql sakila -e "SELECT COUNT(*) FROM film"

+----------+
| COUNT(*) |
+----------+
|     1000 |
+----------+

In [25]:
!mysql sakila -e "SELECT COUNT(*) FROM inventory"

+----------+
| COUNT(*) |
+----------+
|     4581 |
+----------+

In [26]:
!mysql sakila -e "SELECT COUNT(*) FROM staff"

+----------+
| COUNT(*) |
+----------+
|        2 |
+----------+

In [27]:
!mysql sakila -e "SELECT COUNT(*) FROM address"

+----------+
| COUNT(*) |
+----------+
|      603 |
+----------+

In [28]:
!mysql sakila -e "SELECT COUNT(*) FROM category"

+----------+
| COUNT(*) |
+----------+
|       16 |
+----------+

In [ ]:
# Write five queries to sample a few rows using LIMIT clause

In [29]:
!mysql sakila -e "SELECT film_id, title, description, release_year FROM film LIMIT 10"

+---------+------------------+-----------------------------------------------------------------------------------------------------------------------+--------------+
| film_id | title            | description                                                                                                           | release_year |
+---------+------------------+-----------------------------------------------------------------------------------------------------------------------+--------------+
|       1 | ACADEMY DINOSAUR | A Epic Drama of a Feminist And a Mad Scientist who must Battle a Teacher in The Canadian Rockies                      |         2006 |
|       2 | ACE GOLDFINGER   | A Astounding Epistle of a Database Administrator And a Explorer who must Find a Car in Ancient China                  |         2006 |
|       3 | ADAPTATION HOLES | A Astounding Reflection of a Lumberjack And a Car who must Sink a Lumberjack in A Baloon Factory                      |         2006 |
|       4 | AFFAIR PREJUDICE | A Fanciful Documentary of a Frisbee And a Lumberjack who must Chase a Monkey in A Shark Tank                          |         2006 |
|       5 | AFRICAN EGG      | A Fast-Paced Documentary of a Pastry Chef And a Dentist who must Pursue a Forensic Psychologist in The Gulf of Mexico |         2006 |
|       6 | AGENT TRUMAN     | A Intrepid Panorama of a Robot And a Boy who must Escape a Sumo Wrestler in Ancient China                             |         2006 |
|       7 | AIRPLANE SIERRA  | A Touching Saga of a Hunter And a Butler who must Discover a Butler in A Jet Boat                                     |         2006 |
|       8 | AIRPORT POLLOCK  | A Epic Tale of a Moose And a Girl who must Confront a Monkey in Ancient India                                         |         2006 |
|       9 | ALABAMA DEVIL    | A Thoughtful Panorama of a Database Administrator And a Mad Scientist who must Outgun a Mad Scientist in A Jet Boat   |         2006 |
|      10 | ALADDIN CALENDAR | A Action-Packed Tale of a Man And a Lumberjack who must Reach a Feminist in Ancient China                             |         2006 |
+---------+------------------+-----------------------------------------------------------------------------------------------------------------------+--------------+

In [31]:
!mysql sakila -e "SELECT customer_id, last_name, email FROM customer LIMIT 15"

+-------------+-----------+-------------------------------------+
| customer_id | last_name | email                               |
+-------------+-----------+-------------------------------------+
|           1 | SMITH     | MARY.SMITH@sakilacustomer.org       |
|           2 | JOHNSON   | PATRICIA.JOHNSON@sakilacustomer.org |
|           3 | WILLIAMS  | LINDA.WILLIAMS@sakilacustomer.org   |
|           4 | JONES     | BARBARA.JONES@sakilacustomer.org    |
|           5 | BROWN     | ELIZABETH.BROWN@sakilacustomer.org  |
|           6 | DAVIS     | JENNIFER.DAVIS@sakilacustomer.org   |
|           7 | MILLER    | MARIA.MILLER@sakilacustomer.org     |
|           8 | WILSON    | SUSAN.WILSON@sakilacustomer.org     |
|           9 | MOORE     | MARGARET.MOORE@sakilacustomer.org   |
|          10 | TAYLOR    | DOROTHY.TAYLOR@sakilacustomer.org   |
|          11 | ANDERSON  | LISA.ANDERSON@sakilacustomer.org    |
|          12 | THOMAS    | NANCY.THOMAS@sakilacustomer.org     |
|          13 | JACKSON   | KAREN.JACKSON@sakilacustomer.org    |
|          14 | WHITE     | BETTY.WHITE@sakilacustomer.org      |
|          15 | HARRIS    | HELEN.HARRIS@sakilacustomer.org     |
+-------------+-----------+-------------------------------------+

In [33]:
!mysql sakila -e "SELECT address, district, city_id, postal_code FROM address LIMIT 12"

+------------------------------------+----------------+---------+-------------+
| address                            | district       | city_id | postal_code |
+------------------------------------+----------------+---------+-------------+
| 47 MySakila Drive                  | Alberta        |     300 |             |
| 28 MySQL Boulevard                 | QLD            |     576 |             |
| 23 Workhaven Lane                  | Alberta        |     300 |             |
| 1411 Lillydale Drive               | QLD            |     576 |             |
| 1913 Hanoi Way                     | Nagasaki       |     463 | 35200       |
| 1121 Loja Avenue                   | California     |     449 | 17886       |
| 692 Joliet Street                  | Attika         |      38 | 83579       |
| 1566 Inegl Manor                   | Mandalay       |     349 | 53561       |
| 53 Idfu Parkway                    | Nantou         |     361 | 42399       |
| 1795 Santiago de Compostela Way    | Texas          |     295 | 18743       |
| 900 Santiago de Compostela Parkway | Central Serbia |     280 | 93896       |
| 478 Joliet Way                     | Hamilton       |     200 | 77948       |
+------------------------------------+----------------+---------+-------------+

In [34]:
!mysql sakila -e "SELECT city_id, city, country_id FROM city LIMIT 8"

+---------+--------------------+------------+
| city_id | city               | country_id |
+---------+--------------------+------------+
|       1 | A Corua (La Corua) |         87 |
|       2 | Abha               |         82 |
|       3 | Abu Dhabi          |        101 |
|       4 | Acua               |         60 |
|       5 | Adana              |         97 |
|       6 | Addis Abeba        |         31 |
|       7 | Aden               |        107 |
|       8 | Adoni              |         44 |
+---------+--------------------+------------+

In [38]:
!mysql sakila -e "SELECT first_name, last_name FROM staff LIMIT 20"

+------------+-----------+
| first_name | last_name |
+------------+-----------+
| Mike       | Hillyer   |
| Jon        | Stephens  |
+------------+-----------+

In [29]:
# select actor's first name, last name, and actor ID from actor table where
# the last name starts with 'P', order by ascending actor_id

In [27]:
!mysql sakila -e "SELECT actor_id, first_name, last_name FROM actor WHERE last_name LIKE 'P%' ORDER BY actor_id;"

+----------+------------+-----------+
| actor_id | first_name | last_name |
+----------+------------+-----------+
|       21 | KIRSTEN    | PALTROW   |
|       30 | SANDRA     | PECK      |
|       33 | MILLA      | PECK      |
|       51 | GARY       | PHOENIX   |
|       54 | PENELOPE   | PINKETT   |
|       69 | KENNETH    | PALTROW   |
|       73 | GARY       | PENN      |
|       75 | BURT       | POSEY     |
|       84 | JAMES      | PITT      |
|       87 | SPENCER    | PECK      |
|       88 | KENNETH    | PESCI     |
|       93 | ELLEN      | PRESLEY   |
|      133 | RICHARD    | PENN      |
|      171 | OLYMPIA    | PFEIFFER  |
+----------+------------+-----------+

In [ ]:
# insert Keanu Reeves' first and last name into to the actor table

In [40]:
!mysql sakila -e "INSERT INTO actor (first_name, last_name) VALUES ('Keanu', 'Reeves');"
!mysql sakila -e "SELECT actor_id, first_name, last_name FROM actor WHERE last_name LIKE 'R%' ORDER BY actor_id;"

+----------+------------+-----------+
| actor_id | first_name | last_name |
+----------+------------+-----------+
|      135 | RITA       | REYNOLDS  |
|      142 | JADA       | RYDER     |
|      203 | Keanu      | Reeves    |
|      204 | Keanu      | Reeves    |
+----------+------------+-----------+

In [ ]:
# changing all movies with a rating of NC-17 to rated R, updating timestamp

In [23]:
!mysql sakila -e "UPDATE film SET rating = 'R', last_update = CURRENT_TIMESTAMP() WHERE rating = 'NC-17';"

In [ ]:
# delete Keanu Reeves from the actor table

In [43]:
!mysql sakila -e "DELETE FROM actor WHERE last_name='Reeves';"
!mysql sakila -e "SELECT actor_id, first_name, last_name FROM actor WHERE last_name LIKE 'R%' ORDER BY actor_id;"

+----------+------------+-----------+
| actor_id | first_name | last_name |
+----------+------------+-----------+
|      135 | RITA       | REYNOLDS  |
|      142 | JADA       | RYDER     |
+----------+------------+-----------+