### Starter code for Project 3. 
#### Run these cells before starting the assignment.

#### 1. create BQ dataset:

In [1]:
%env dataset_id=school_enrollments

env: dataset_id=school_enrollments

In [2]:
!bq --location=US mk --dataset $dataset_id

Dataset 'round-sunset-375022:school_enrollments' successfully created.

#### 2. create and populate BQ tables:

In [3]:
import os

In [5]:
gsutil_cmd = "gsutil ls gs://cs327e-open-access-2/school-enrollments/*"
file_listings = os.popen(gsutil_cmd)
dataset="school_enrollments"

for file in file_listings:

    start_index = file.rindex("_") + 1
    end_index = file.rindex(".")
    table = file[start_index:end_index]
    
    if table in ("co", "district", "fl", "ga", "id", "ma", "mo", "ne", "ny", "or", "school", "sd", "wi"):
        print("skipping " + table)
        continue

    bq_cmd = "bq --location=US load --autodetect --skip_leading_rows=1 "\
             "--source_format=CSV " + dataset + "." + table + ' ' + file
    print(bq_cmd)
    
    os.system(bq_cmd)

bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.ak gs://cs327e-open-access-2/school-enrollments/zf406jp4427_ak.csv

Waiting on bqjob_r7cd82c7eacf6e3e2_00000186cc853ba7_1 ... (2s) Current status: DONE

bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.ar gs://cs327e-open-access-2/school-enrollments/zf406jp4427_ar.csv

Waiting on bqjob_r3fdd660c1630e055_00000186cc855274_1 ... (4s) Current status: DONE

bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.ca gs://cs327e-open-access-2/school-enrollments/zf406jp4427_ca.csv

Waiting on bqjob_r3401e0d91c4485b5_00000186cc856efb_1 ... (9s) Current status: DONE

skipping co
bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.ct gs://cs327e-open-access-2/school-enrollments/zf406jp4427_ct.csv

Waiting on bqjob_r1a38de6e1e24a74_00000186cc859fda_1 ... (3s) Current status: DONE

skipping district
skipping fl
skipping ga
bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.hi gs://cs327e-open-access-2/school-enrollments/zf406jp4427_hi.csv

Waiting on bqjob_r16ddab12959a17fd_00000186cc85b7e3_1 ... (2s) Current status: DONE

skipping id
bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.la gs://cs327e-open-access-2/school-enrollments/zf406jp4427_la.csv

Waiting on bqjob_r5a247482869dc076_00000186cc86228b_1 ... (4s) Current status: DONE

skipping ma
bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.md gs://cs327e-open-access-2/school-enrollments/zf406jp4427_md.csv

Waiting on bqjob_r4993dcfbe2010039_00000186cc863eea_1 ... (2s) Current status: DONE

bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.mn gs://cs327e-open-access-2/school-enrollments/zf406jp4427_mn.csv

Waiting on bqjob_r61a5e4aad821373d_00000186cc8652a8_1 ... (6s) Current status: DONE

skipping mo
bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.ms gs://cs327e-open-access-2/school-enrollments/zf406jp4427_ms.csv

Waiting on bqjob_r140e9e9d9337953_00000186cc8676e3_1 ... (2s) Current status: DONE

skipping ne
bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.nh gs://cs327e-open-access-2/school-enrollments/zf406jp4427_nh.csv

Waiting on bqjob_r68b05302c20aa31f_00000186cc868a1f_1 ... (2s) Current status: DONE

bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.nv gs://cs327e-open-access-2/school-enrollments/zf406jp4427_nv.csv

Waiting on bqjob_r4f99e6f7c8835f17_00000186cc869d49_1 ... (2s) Current status: DONE

skipping ny
bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.ok gs://cs327e-open-access-2/school-enrollments/zf406jp4427_ok.csv

Waiting on bqjob_r4ea36414b53f3e88_00000186cc86b423_1 ... (4s) Current status: DONE

skipping or
bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.pa gs://cs327e-open-access-2/school-enrollments/zf406jp4427_pa.csv

Waiting on bqjob_r8cf796f67be5f09_00000186cc86cfb9_1 ... (4s) Current status: DONE

bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.sc gs://cs327e-open-access-2/school-enrollments/zf406jp4427_sc.csv

Waiting on bqjob_r6af4bff9479e97ab_00000186cc86ebad_1 ... (2s) Current status: DONE

skipping school
skipping sd
bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.tx gs://cs327e-open-access-2/school-enrollments/zf406jp4427_tx.csv

Waiting on bqjob_r44e1be71a3d53b4c_00000186cc86fed2_1 ... (4s) Current status: DONE

bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.wa gs://cs327e-open-access-2/school-enrollments/zf406jp4427_wa.csv

Waiting on bqjob_r5252ea705c406381_00000186cc871acd_1 ... (4s) Current status: DONE

skipping wi
bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.wy gs://cs327e-open-access-2/school-enrollments/zf406jp4427_wy.csv

Waiting on bqjob_r8ddcf299bfa82d5_00000186cc873653_1 ... (2s) Current status: DONE

#### 3. Find school enrollments by school name, grade level, and year for Texas

In [6]:
!bq show --schema=true $dataset_id.tx

[{"name":"state","type":"STRING","mode":"NULLABLE"},{"name":"county","type":"STRING","mode":"NULLABLE"},{"name":"county_state_id","type":"STRING","mode":"NULLABLE"},{"name":"admin_level","type":"STRING","mode":"NULLABLE"},{"name":"district_nces_id","type":"INTEGER","mode":"NULLABLE"},{"name":"district_state_id","type":"INTEGER","mode":"NULLABLE"},{"name":"district_state_type","type":"STRING","mode":"NULLABLE"},{"name":"district","type":"STRING","mode":"NULLABLE"},{"name":"ccd_district_type","type":"STRING","mode":"NULLABLE"},{"name":"ccd_charter","type":"STRING","mode":"NULLABLE"},{"name":"ccd_district_lvl","type":"STRING","mode":"NULLABLE"},{"name":"ccd_district_low_grade","type":"STRING","mode":"NULLABLE"},{"name":"ccd_district_high_grade","type":"STRING","mode":"NULLABLE"},{"name":"school_nces_id","type":"INTEGER","mode":"NULLABLE"},{"name":"school_state_id","type":"FLOAT","mode":"NULLABLE"},{"name":"school","type":"STRING","mode":"NULLABLE"},{"name":"school_state_type","type":"STRING","mode":"NULLABLE"},{"name":"ccd_school_type","type":"STRING","mode":"NULLABLE"},{"name":"ccd_charter_school","type":"BOOLEAN","mode":"NULLABLE"},{"name":"ccd_school_lvl","type":"STRING","mode":"NULLABLE"},{"name":"ccd_school_low_grade","type":"STRING","mode":"NULLABLE"},{"name":"ccd_school_high_grade","type":"STRING","mode":"NULLABLE"},{"name":"year","type":"INTEGER","mode":"NULLABLE"},{"name":"term","type":"STRING","mode":"NULLABLE"},{"name":"grade","type":"STRING","mode":"NULLABLE"},{"name":"white","type":"STRING","mode":"NULLABLE"},{"name":"black","type":"STRING","mode":"NULLABLE"},{"name":"hispanic","type":"STRING","mode":"NULLABLE"},{"name":"native_american","type":"STRING","mode":"NULLABLE"},{"name":"native_american_alaskan_native","type":"STRING","mode":"NULLABLE"},{"name":"asian","type":"STRING","mode":"NULLABLE"},{"name":"native_hawaiian","type":"STRING","mode":"NULLABLE"},{"name":"asian_pacific_islander","type":"STRING","mode":"NULLABLE"},{"name":"native_hawaiian_pacific_islander","type":"STRING","mode":"NULLABLE"},{"name":"pacific_islander","type":"STRING","mode":"NULLABLE"},{"name":"multiracial","type":"STRING","mode":"NULLABLE"},{"name":"unknown_race","type":"STRING","mode":"NULLABLE"},{"name":"male","type":"STRING","mode":"NULLABLE"},{"name":"female","type":"STRING","mode":"NULLABLE"},{"name":"non_binary","type":"STRING","mode":"NULLABLE"},{"name":"unknown_gender","type":"STRING","mode":"NULLABLE"},{"name":"ell","type":"STRING","mode":"NULLABLE"},{"name":"ell_percent","type":"STRING","mode":"NULLABLE"},{"name":"homeless","type":"STRING","mode":"NULLABLE"},{"name":"homeless_percent","type":"STRING","mode":"NULLABLE"},{"name":"low_income","type":"STRING","mode":"NULLABLE"},{"name":"free_and_reduced","type":"STRING","mode":"NULLABLE"},{"name":"free_and_reduced_percent","type":"STRING","mode":"NULLABLE"},{"name":"disability","type":"STRING","mode":"NULLABLE"},{"name":"section_504","type":"STRING","mode":"NULLABLE"},{"name":"total","type":"STRING","mode":"NULLABLE"}]

#### Note: STRING type for "total" column

In [7]:
%%bigquery
select school, grade, year, sum(cast(replace(replace(total, ",", ""), "<", "") as int64)) as total
from school_enrollments.tx
where total != "" and school != "" and district like '%AUSTIN%'
group by school, grade, year
order by school, grade, year

Query is running:   0%|          |

Downloading:   0%|          |

         school             grade  year  total
0     AKINS H S          grade_10  2020    720
1     AKINS H S          grade_10  2021    747
2     AKINS H S          grade_11  2020    664
3     AKINS H S          grade_11  2021    663
4     AKINS H S          grade_12  2020    609
...         ...               ...   ...    ...
1734  ZILKER EL           grade_5  2021     69
1735  ZILKER EL      kindergarten  2020     77
1736  ZILKER EL      kindergarten  2021     63
1737  ZILKER EL  pre_kindergarten  2020     30
1738  ZILKER EL  pre_kindergarten  2021     13

[1739 rows x 4 columns]

##### Documentation on BQ's string functions: https://cloud.google.com/bigquery/docs/reference/standard-sql/string_functions

In [8]:
!bq --location=US mk --dataset "views"

Dataset 'round-sunset-375022:views' successfully created.

In [9]:
%%bigquery
create view views.austin_enrollments_by_school_grade_year as
select school, grade, year, sum(cast(replace(replace(total, ",", ""), "<", "") as int64)) as total
from school_enrollments.tx
where total != "" and school != "" and district like '%AUSTIN%'
group by school, grade, year
order by school, grade, year

Query is running:   0%|          |

Empty DataFrame
Columns: []
Index: []

In [10]:
%%bigquery
select * from views.austin_enrollments_by_school_grade_year

Query is running:   0%|          |

Downloading:   0%|          |

         school             grade  year  total
0     AKINS H S          grade_10  2020    720
1     AKINS H S          grade_10  2021    747
2     AKINS H S          grade_11  2020    664
3     AKINS H S          grade_11  2021    663
4     AKINS H S          grade_12  2020    609
...         ...               ...   ...    ...
1734  ZILKER EL           grade_5  2021     69
1735  ZILKER EL      kindergarten  2020     77
1736  ZILKER EL      kindergarten  2021     63
1737  ZILKER EL  pre_kindergarten  2020     30
1738  ZILKER EL  pre_kindergarten  2021     13

[1739 rows x 4 columns]

#### 4. Open Data Studio and create a chart from this view:
##### https://datastudio.google.com/

#### Project 3 homework marker. Start homework from here.

Select the county, administration level, and the average number of low income students for each school district in Washington

In [37]:
%%bigquery
select county, admin_level, avg(low_income) as avginc from school_enrollments.wa
WHERE admin_level = "district"
GROUP BY county, admin_level
ORDER BY avginc DESC

Query is running:   0%|          |

Downloading:   0%|          |

          county admin_level      avginc
0           King    district  640.087674
1       Franklin    district  578.555858
2         Pierce    district  562.590183
3          Clark    district  495.484663
4         Benton    district  450.540453
5      Snohomish    district  423.241192
6         Yakima    district  362.005054
7        Spokane    district  344.881334
8         Kitsap    district  291.705882
9       Thurston    district  227.792851
10       Cowlitz    district  217.875195
11         Grant    district  204.173830
12       Whatcom    district  199.800937
13        Skagit    district  194.311927
14        Chelan    district  157.345876
15        Island    district  143.669782
16       Clallam    district  136.577114
17         Mason    district  130.354472
18         Adams    district  121.949153
19       Douglas    district  119.339318
20        Asotin    district  118.990654
21      Okanogan    district  110.374396
22   Walla Walla    district  107.100996
23  Grays Harbor    district   82.284559
24         Lewis    district   80.980872
25      Kittitas    district   54.260720
26  Pend Oreille    district   44.898734
27       Pacific    district   44.337539
28       Stevens    district   42.714662
29     Jefferson    district   41.780172
30     Wahkiakum    district   40.133333
31      San Juan    district   26.202128
32      Skamania    district   24.024169
33     Klickitat    district   23.153684
34      Garfield    district   22.171429
35       Whitman    district   20.699427
36      Columbia    district   20.321839
37         Ferry    district   19.006623
38       Lincoln    district   18.363636

Select Connecticut district name and average number of students in that district with disabilities, grouped and ordered by district.

In [59]:
%%bigquery
select district, avg(cast(disability as numeric)) as avgDisability from school_enrollments.ct
WHERE admin_level = 'district' and disability != "*" and disability != ""
group by district
order by district

Query is running:   0%|          |

Downloading:   0%|          |

                                          district  avgDisability
0    Achievement First Bridgeport Academy District  105.000000000
1      Achievement First Hartford Academy District  115.666666667
2                         Amistad Academy District   84.000000000
3                          Andover School District   18.666666667
4                          Ansonia School District  458.666666667
..                                             ...            ...
197                  Windsor Locks School District  265.000000000
198                        Windsor School District  657.333333333
199                        Wolcott School District  297.666666667
200                     Woodbridge School District   92.000000000
201                      Woodstock School District  101.333333333

[202 rows x 2 columns]

Select the Louisiana school, its district, and the average number of low income students for that school, ordered by average low income students

In [78]:
%%bigquery
select school, district, avg(cast(low_income as numeric)) as avgLowInc from school_enrollments.la 
where admin_level = "school" and low_income != ""
group by district, school
order by avgLowInc

Query is running:   0%|          |

Downloading:   0%|          |

,school,district,avgLowInc
0,Administrative Services -- Special Education,West Feliciana Parish,0.400000000
1,Webster Central Office,Webster Parish,1.000000000
2,Louisiana Correctional Institute for Women,Special School District,1.000000000
3,Madison Central Office,Madison Parish,1.250000000
4,Estherwood Head Start Center,Acadia Parish,1.500000000
...,...,...,...
1577,John Ehret High School,Jefferson Parish,1552.833333333
1578,Chalmette High School,St. Bernard Parish,1605.333333333
1579,Louisiana Virtual Charter Academy,Type 2 Charters,1633.666666667
1580,"University View Academy, Inc. (FRM LA Connecti...",Type 2 Charters,2007.500000000
1581,STPPS Virtual School,St. Tammany Parish,2679.000000000

Select the county name, district name, and maximum number of homeless students of each year of each school in Washington in ascending order of maximum homeless students.

In [76]:
%%bigquery
select county, district, max(homeless) as maxHomeless from school_enrollments.wa
where admin_level = "school"
group by county, district
order by maxHomeless asc

Query is running:   0%|          |

Downloading:   0%|          |

          county                             district  maxHomeless
0           King             Renton Technical College            0
1       Franklin  ESD 123 acting as a school district            0
2         Pierce              Bates Technical College            0
3         Pierce        Clover Park Technical College            0
4    Walla Walla                   Innovation Schools            0
..           ...                                  ...          ...
327    Snohomish              Everett School District          139
328        Mason              Shelton School District          147
329      Spokane              Spokane School District          161
330         King        Seattle School District No. 1          162
331       Yakima          Mount Adams School District          164

[332 rows x 3 columns]

In [80]:
%%bigquery
create view views.ct_district_disabilities as
select district, avg(cast(disability as numeric)) as avgDisability from school_enrollments.ct
WHERE admin_level = 'district' and disability != "*" and disability != ""
group by district
order by district

Executing query with job ID: 1b2338f2-ead9-4edc-8bc8-e406dbf68930
Query executing: 0.39s

ERROR:
 409 Already Exists: Table round-sunset-375022:views.ct_district_disabilities

Location: US
Job ID: 1b2338f2-ead9-4edc-8bc8-e406dbf68930

Select grade levels in Texas' A+ Academy district schools with at least 120 students

In [81]:
%%bigquery
select state, school, grade, cast(total as int64) as total
from school_enrollments.tx
where district LIKE '%A+ ACADEMY%' and school != "" and total != "*" and total != ""
group by state, school, grade, total
having min(total) > 120
order by school

Query is running:   0%|          |

Downloading:   0%|          |

  state               school    grade  total
0    TX        A+ ACADEMY EL  grade_6    130
1    TX  A+ SECONDARY SCHOOL  grade_8    124
2    TX  A+ SECONDARY SCHOOL  grade_7    125

Select the total number of ELL students per school in Lousisiana schools with more than 50 ELL students

In [82]:
%%bigquery
SELECT state, school, sum(cast(ELL as numeric)) as ELL
FROM school_enrollments.la
WHERE ELL != "" and ELL != "*"
GROUP BY state, school
HAVING ELL > 50
ORDER BY school

Query is running:   0%|          |

Downloading:   0%|          |

    state                                             school               ELL
0      LA                                                     163555.000000000
1      LA                     A. A. Nelson Elementary School     381.000000000
2      LA                   A.C. Alexander Elementary School     376.000000000
3      LA                              A.C. Alexander School     836.000000000
4      LA                              Abbeville High School     124.000000000
..    ...                                                ...               ...
578    LA                         Woodvale Elementary School     113.000000000
579    LA                        Wyandotte Elementary School     221.000000000
580    LA                     Young Audiences Charter School     200.000000000
581    LA                          Youngsville Middle School      65.000000000
582    LA  Youree Dr. Middle Advanced Placement Magnet Sc...     135.000000000

[583 rows x 3 columns]

Select the numer of schools per district in Minnesota ordered from greatest to least for districts with more than 50 schools.

In [86]:
%%bigquery
SELECT state, district, count(DISTINCT school) as total_schools
FROM school_enrollments.mn
GROUP BY state, district
HAVING count(DISTINCT school) > 50
ORDER BY count(school) DESC

Query is running:   0%|          |

Downloading:   0%|          |

  state                               district  total_schools
0    MN     Minneapolis Public School District            170
1    MN        ST. PAUL PUBLIC SCHOOL DISTRICT            100
2    MN  Anoka-Hennepin Public School District             96
3    MN        St. Paul Public School District            110
4    MN        MINNEAPOLIS PUBLIC SCHOOL DIST.             86

Compare the average number of schools per district in Hawaii and Alaska

In [84]:
%%bigquery
SELECT state, avg((SELECT count(DISTINCT school) FROM school_enrollments.hi GROUP BY district)) as average 
FROM school_enrollments.hi 
GROUP BY state
UNION ALL
SELECT state, (SELECT avg(count) FROM ((SELECT count(DISTINCT school) as count FROM school_enrollments.ak GROUP BY district))) as average 
FROM school_enrollments.ak
GROUP BY state

Query is running:   0%|          |

Downloading:   0%|          |

  state     average
0    AK   10.277778
1    HI  595.000000

In [87]:
%%bigquery
create view views.mn_districts as
SELECT state, district, count(DISTINCT school) as total_schools
FROM school_enrollments.mn
GROUP BY state, district
HAVING count(DISTINCT school) > 50
ORDER BY count(school) DESC

Query is running:   0%|          |

Empty DataFrame
Columns: []
Index: []